<!--<input type="text" onChange="insertOptions()"/>-->
<div class="row">
	<div class="col-sm-0"></div>
	<div class="col-sm-8">
		<%= link_to 'Back', questions_path %>
	</div>
</div>
<%= render 'form' %>