<div  id="id1" ng-controller="ReviewCtrl" ng-init="initParam('<%= Socket.ip_address_list[1].ip_address %>'); reviewTest();">
<table ng-repeat="review in review_paper track by $index">
			<tr>
				<td>
					<b>Question {{$index+1}} : {{review.question}}</b>
				</td>
			</tr>

		  	<tr>
		  		<td>
		  			 Answer: {{answers[$index].toString()}}
		  		</td>
		  	</tr>
</table>
<br>
<table> 
		<tr>
			<td>
				<form action="/answer_sheets/result" method="get" >
					<input type="submit" class="btn btn-success" value="Submit Test">
				</form>	&nbsp;
				<form action="/answer_sheets" method="get">
					<input type="submit"  class="btn btn-warning" value="Back">
				</form>			
			</td>
		</tr>
</table>
</div>	


	


