

<center>
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<table class="table table-bordered">
				<thead>
					<tr class="info">
						<th><center>Your Score</center></th>
						<th><center>Out of</center></th>
					</tr>
				</thead>
				<tr>
					<td style="font-family: 'arial'; font-size: 25px;"><center><%= @score %></center></td>
					<td style="font-family: 'arial'; font-size: 25px;"><center><%= @total %></center></td>
				</tr>
			</table>
		</div>
	</div>
</center>