

<center>
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<table class="table table-bordered">
				<thead>
					<tr class="info">
						<th><center>Thank You for appearing in test.</center></th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</center>