<center>
	<div style="background-color: #EEE; color: red; border-style: ridge; border-width: 5px; border-color: red;">
		<h1>Error: Not an Applicant</h1>
		<h3>You are not authorized to view this page.</h3>
	</div>
</center>