
<% if !flash[:error].nil?%>
	<div class="alert alert-warning">
   		<a href="#" class="close" data-dismiss="alert">&times;</a>
   			<%=flash[:error]%>
   			<% flash[:error] = nil %>
    </div>
<% end %>


<div class="row">
	<div class="col-sm-4"></div>
	<div class="col-sm-4">
<table class="table table-condensed table-bordered">
	<caption> <h4><b>Change Password</b></h4> </caption>
	<form method="post" action="/users/<%= current_user.id%>/account_settings">
	<tr>
		<th>Current Password  </th>
		<th>
			<input type="password" name="current_password" class="form-control">
		</th>
	</tr>
	<tr>
		<th>New Password  </th>
		<th>
			<input type="password" name="new_password" class="form-control">
		</th>
	</tr>
	<tr>
		<th>Confirm Password</th>
		<th>
			<input type="password" name="confirm_password" class="form-control">
		</th>
	</tr>
	<tr>
		<td colspan="2"><center><input type="submit" value="Change Password" class="btn btn-success"></center>
	</tr>
	</form>
</table>

</div>
</div>