
<% if flash[:error]%>
	<div class="alert alert-warning">
   		<a href="#" class="close" data-dismiss="alert">&times;</a>
   			<%=flash[:error]%>
    </div>
<% end %>
<div class="row">
	<div class="col-sm-4"></div>
	<div class="col-sm-4">
<table class="table table-condensed table-bordered">
	<caption> <h4><b>Reset Password</b></h4> </caption>
	<form method="post" action="/users/reset_password">
	<tr>
		<th>New Password : </th>
		<th>
			<input type="password" name="new_password">
		</th>
	</tr>
	<tr>
		<th>Confirm Password :</th>
		<th>
			<input type="password" name="confirm_password">
		</th>
	</tr>
	<tr>
		<td></td>
		<td><input type="submit" value="Change Password" class="btn btn-success">
	</tr>
	</form>
</table>

</div>
</div>