<table>
	<caption>Reset Password</caption>
	<form method="post" action="/users/reset_password">
	<tr>
		<th>New Password</th>
		<th>
			<input type="password" name="new_password">
		</th>
	</tr>
	<tr>
		<th>Confirm Password</th>
		<th>
			<input type="password" name="confirm_password">
		</th>
	</tr>
	<tr>
		<td></td>
		<td><input type="submit" value="Change Password">
	</tr>
	</form>
</table>