<%= render 'user_information' %>
			<tr>
				<td>
				</td>
				<td colspan="2">
					<a href = "/users" class="btn btn-primary">Back</a>				</td>				
			</tr>
		</table>
	</div>
</div>

<script type="text/javascript">
	 goBack = function(){
		
		window.history.go(-1);
	}
</script>