<%= render 'user_information' %>
			<tr>
				<td>
					<a href="/answer_sheets/<%= @user.id %>/display_test" data-method="get" class="btn btn-success">View Answersheet</a>
				</td>
				<td colspan="2">
					<button class="btn btn-success" onclick="goBack()">Back</button>				</td>				
			</tr>
		</table>
	</div>
</div>

<script type="text/javascript">
	 goBack = function(){
		
		window.history.go(-1);
	}
</script>
