<!DOCTYPE html> 
<html>
	 <head>
	  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	 </head>
	 <body> 
	 	<h1>Hi <%= @email %></h1> 
	 	<p> Your id is <%= @user_id%> 
	 		<br>
	 		Your password is <%= @password %>
	 	</p>
	 </body>
 </html>