<table class="table table-responsive table-bordered table-hover table-condensed">
	<thead>
		<tr class="">
			<th width="85%">Question</th>
			<th></th>
		</tr>
	</thead>
	<% @exam_questions.each do |q| %>
		<tr class="active">					
			<td>
				<%= content_tag "p", q.question %>
			</td>
			<td>	
				<%= link_to 'Edit ', edit_question_path(q), :method=> :post %><span>|</span> 
				<%= link_to 'Show ', question_path(q) %><span>|</span>
				<%= link_to 'Delete', question_path(q), :method => :delete %>
			</td>							
		</tr>	
	<% end %>
</table>