// Place all the styles related to the AnswerSheets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.control-box{
	
	top: 95px;
	right: 0px;
	padding-bottom: 10px;
}

.Timer{
	font-family: "arial";
	font-size: 20px;
}
pre{
	font-family: "Times New Roman";
}
.option-pre-tag{
	background-color: white;
	border: 0px;
	margin: -1.5em 0;
}

.test-instructions{
	position: absolute;
	left: 50%;
	margin-left: -350px;
	width: 700px;
	padding: 10px 10px 10px 10px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 50px;
	border-color: grey;
}

.test-instructions hr{
	border: 0;
	border-top: 1px solid grey;
}

.test-instructions h1{
	color: red;
}

.test-instructions h3{
	color: #08C;
}

.test-instructions em{
	color: #08C;
}
