.white-link{
	text-decoration: none;
	color: white;
}

.dropdown:hover .white-link{
	text-decoration: none;
	color: black;
}

.dropdown-toggle:hover .white-link{
	text-decoration: none;
	color: black;
}

.title{
	margin: 0px 0px 0px 0px;
	padding-top: 5px;
	line-height: 30px;
	font-size: 2.5em;
	color: #AAA;
}

.button-margin{
	
	margin: 10px 10px 10px 10px;
}
