<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-6">
		<div class="row">
			<%= link_to 'Show', @exam %> |
			<%= link_to 'Back', exams_path %>
		</div>
		<%= render 'form' %>
	</div>
</div>
