<div>
	<%= image_tag "online_screening_logo_small.png", :class => "home_page_image" %>
	<center>
	<%= link_to 'Login', new_user_session_path, :class => "btn btn-info login-button" %>
	</center>
</div>
